#showcase {
    text-align: center;
    padding-top: 300px;
    color: $color1;
    h1 {
        font-weight: 700;
        font-size: 40px;
        margin-bottom: 50px;
    }
    img {
        text-align: center;
        margin-bottom: 50px;
        height: 300px;
    }
}
@media (max-width: 565px) {
    #showcase {
        padding-top: 250px;
        h1 {
            font-weight: 350;
            margin-bottom: 30px;
        }
        img {
            height: 250px;
            margin-bottom: 30px;
        }
    }
}